
.DS_Store
.env
.gitattributes
__pycache__/multion.cpython-311.pyc
__pycache__/server.cpython-311.pyc
__pycache__/suno.cpython-311.pyc
Aravind Srinivas： Perplexity CEO on Future of AI, Search & the Internet ｜ Lex Fridman Podcast \#434 \[e-gwvmhyU7A\].m4a
Bill Ackman： Investing, Financial Battles, Harvard, DEI, X & Free Speech ｜ Lex Fridman Podcast \#413 \[PgGKhsWhUu8\].m4a
combined_audio_PgGKhsWhUu8.mp3
Dr. James Hollis： How to Find Your True Purpose & Create Your Best Life \[SyWC8ZFVxGo\].m4a
podcast_intro.mp3
output_20240721074530.mp3
PgGKhsWhUu8_segment_1.mp3
PgGKhsWhUu8_segment_2.mp3
PgGKhsWhUu8_segment_3.mp3
PgGKhsWhUu8_segment_4.mp3
PgGKhsWhUu8_segment_5.mp3
output_20240721093741.mp3
output_20240721094858.mp3
output_20240721095448.mp3
__pycache__/stt.cpython-311.pyc
voice_message.ogg
voice_message.wav
